.travel-form {
  max-width: 768px;
  width: 100%;
  min-height: 290px;
}

.travel-wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 40px;

  > * {
    flex: 1;
  }

  select,
  input {
    margin-bottom: 0;
  }

  svg {
    flex: 0 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: #cb72aa;
    transition: fill 0.2s;
    &:hover {
      fill: #000;
    }
  }
}
